@CHARSET "UTF-8";

body {
	padding-top: 40px;
}

.carousel-caption p {
	font-size: 2vw;
}

.carousel-caption h2 {
	font-size: 3vw;
}

.gallery li {
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}

.gallery li a {
	width: 100px;
	height: 100px;
}

.gallery li a img {
	max-width: 100px;
}

div.post-summary {
	margin-bottom: 50px;
}

div.post-summary hr {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
}

div.post-summary h1,h2,h3 {
	padding-bottom: 5px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-transform: capitalize;
}

div.title * {
	text-transform: capitalize;
}

.comment {
	background: #F4F4F4;
	margin: 5px 0;
	padding: 10px;
}

.comment .time {
	color: #888;
	font-size: 0.8em;
}

.comment .author {
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .content {
	margin: 10px 0;
}

.carousel-caption h2 {
	color: white;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none /* <<< remove this! */ }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }